<div style="display: flex; padding-left:15% ; padding-right:15% ;background: #0F2436;">
<div style="display: flex; background: #0F2436; width: 70%;">
    <div class="contenido-tophead" style="margin: 20px; text-align: center;">
    <a class="boton" href="https://goo.gl/maps/sKCVhrHnbqa2fBdK6">Av. Paseo de la Loma 201</a>
    </div>
    <div style="margin: 20px;">
    <a href="https://api.whatsapp.com/send?phone=5213112303646" class="boton" target="_blank">
        <i class="fa-solid fa-phone">&nbsp;</i>
        311 230 36 46</a>
    </div>
    
</div>
<div style="text-align: end; background: #EC268F; width: 30%; border-radius: 10px 100px 10px 100px;">
    <div class="contenido-tophead" style="margin: 20px; text-align: center;">
        <a href="#!" class="boton" routerLink="facturacion" >Solicitud de Facturación</a>
        </div>
        <div style="margin: 20px;">
</div>
</div>