<div style="display: flex; background: rgb(245, 240, 240);">
    <div class="contenido-tophead" style="margin: 20px; text-align: center;">
    <p>Av. Paseo de la Loma 201</p>
    </div>
    <div style="margin: 20px;">
    <p>311 230 36 46</p>
    </div>
    <div >
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
    </div>
</div>