<div style="display: flex; padding-left:15% ; padding-right:15% ;background: #0F2436;">
<div style="display: flex; background: #0F2436; width: 70%;">
    <div class="contenido-tophead" style="margin: 20px; text-align: center;">
    <p>Av. Paseo de la Loma 201</p>
    </div>
    <div style="margin: 20px;">
    <p>311 230 36 46</p>
    </div>
    
</div>
<div style="text-align: end; background: #0F2436; width: 30%;">
    <form class="" role="search" style="display: flex; margin: 13px;">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
</div>
</div>