<!DOCTYPE html>
<html style="font-size: 16px;" lang="es">

<body class="u-body u-xl-mode" data-lang="es">
  <section class="u-clearfix u-section-1" id="carousel_875e">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide u-back-slide-1">
              <img class="u-back-image u-expanded u-back-image-1" src="images/pexelsphoto3876328.jpeg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-1">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide u-back-slide-2">
              <img class="u-back-image u-expanded u-back-image-2" src="images/pexelsphoto3675083.jpeg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-2">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide u-back-slide-3">
              <img class="u-back-image u-expanded u-back-image-3" src="images/pexelsphoto3876324.jpeg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-3">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-gallery-item u-gallery-item-4">
            <div class="u-back-slide u-back-slide-4">
              <img class="u-back-image u-expanded u-back-image-4" src="images/pexels-photo-3967143.jpeg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-4">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
              <div class="u-container-layout u-valign-top u-container-layout-1">
                <h2 class="u-custom-font u-text u-text-default u-text-1">Best places to hike and trek in the world.</h2>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-right-cell u-size-40 u-layout-cell-2">
              <div class="u-container-layout u-valign-top u-container-layout-2">
                <p class="u-text u-text-default u-text-2">If you’re an adventurer who loves being out in nature, a
                  hiking and trekking tour should be next on your list. You can expect great wildlife photography
                  opportunities and the chance to travel with a group of like-minded individuals who love the great
                  outdoors.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-e343">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Texto de muestra. Haz click para seleccionar el elemento de
        Texto.</p>
    </div>
  </footer>
  <section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
      <span>Website Templates</span>
    </a>
    <p class="u-text">
      <span>created with</span>
    </p>
    <a class="u-link" href="" target="_blank">
      <span>Website Builder Software</span>
    </a>.
  </section>

</body>

</html>