<div style="display: flex; text-align: center; background-image: url('./assets/conve3.jpeg'); background-repeat: no-repeat; background-size: cover; padding: 5%;">
  <h2 style="width: 100%; font-weight: 700; color: white; letter-spacing: 1.5px;">Convenios</h2>
</div>
<body class="u-body u-xl-mode" data-lang="es">
  <section class="u-clearfix u-section-1" id="carousel_875e">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide u-back-slide-1">
              <img class="u-back-image u-expanded u-back-image-1" src="./assets/ASTCAMegacable.png">
          </div>
            <div class="u-over-slide u-shading u-over-slide-1">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide u-back-slide-2">
              <img class="u-back-image u-expanded u-back-image-2" src="./assets/Bienestar.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-2">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide u-back-slide-3">
              <img class="u-back-image u-expanded u-back-image-3" src="./assets/CANACO.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-3">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-gallery-item u-gallery-item-4">
            <div class="u-back-slide u-back-slide-4">
              <img class="u-back-image u-expanded u-back-image-4" src="./assets/FECA.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-4">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
              <div class="u-container-layout u-valign-top u-container-layout-1">
                <h2 class="u-custom-font u-text u-text-default u-text-1">Grandes aliados hacen grande a una empresa</h2>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-right-cell u-size-40 u-layout-cell-2">
              <div class="u-container-layout u-valign-top u-container-layout-2">
                <p class="u-text u-text-default u-text-2">Tenemos convenios con empresas de renombre en el estado de Nayarit, asi como
                  con dependencias de gobierno, e instituciones educativas, entre estas son, ASTCA CROC, Programas del Bienestar INAPAM,  CANACO SERVYTUR y
                  Maquinaria del Humaya.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>