#iconos svg{
    width: 5em;
    height: 1.5em;
   
}

h6{
    color: white;
}

a{
    color: white;
    text-align: center !important;
    text-decoration: none;
}

a:hover{
    color: rgb(159, 159, 159) !important;
}

p{
    color: rgb(194, 194, 194);
}

hr{
   margin-top: 18px !important;
}