a{
    margin: 10px;
    color: black;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.nav-link{
    border-radius: 7px;
}
.nav-link:hover{
    color: black;
    background: azure;
    border-radius: 7px;
}

.divnav{
    padding-left:15% ; 
    padding-right:15% ;
    background: whitesmoke;
    border-radius: 7px;
    
}

nav{
    box-shadow:  0px 5px 0px 0px #999;
    border-radius: 70px;
}