

  <body data-home-page="Página-1.html" data-home-page-title="Página 1" class="u-body u-xl-mode" data-lang="es"><header class="u-clearfix u-header u-header" id="sec-f57a"><div class="u-clearfix u-sheet u-sheet-1"></div></header>
    <section class="u-clearfix u-white u-section-1" id="carousel_ba15">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-container-style u-layout-cell u-left-cell u-similar-fill u-size-40 u-layout-cell-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-1">
                      <h2 class="u-custom-font u-font-abril-fatface u-text u-text-1" style="font-weight: 500;">Total Salud es un Laboratorio de Analisis Clinicos 100% Nayarita</h2>
                      <p class="u-text u-text-2">Takings for the Han Solo prequel were up to a third below expectations – the franchise’s worst result for a live actioner since Attack of the Clones</p>
                    </div>
                  </div>
                  <div class="u-container-style u-expand-resize u-layout-cell u-left-cell u-similar-fill u-size-20 u-layout-cell-2">
                    <div class="u-container-layout" >
                      <img class="u-image u-image-1" src="/assets/coras.png" data-image-width="620" data-image-height="372">
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-container-style u-layout-cell u-right-cell u-similar-fill u-size-20 u-layout-cell-3">
                    <div class="u-container-layout">
                      <div class="u-video u-video-1">
                        <div class="embed-responsive embed-responsive-1">
                          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x2UuJFeUw3Q?loop=0&amp;showinfo=0&amp;controls=0&amp;start=0" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-right-cell u-similar-fill u-size-40 u-layout-cell-4">
                    <div class="u-container-layout u-valign-top u-container-layout-4">
                      <p class="u-text u-text-3">Solo: A Star Wars Story has performed disappointingly on its box-office debut, recording much poorer results than the previous Star Wars standalone, Rogue One, and becoming the lowest-performing live-action Star
                                            Wars film at the US box office since Star Wars: Episode II – Attack of the Clones in 2002. <br>
                        <br>After its US release on the Memorial day weekend, Solo, starring Alden Ehrenreich, took an estimated $83.3m (£63m) for its first three days, well short of Rogue One’s $155.1m for the same period. With an
                                            extra day’s results for the “four-day weekend”, Solo has reached an estimated $103m – but that is well down on the projected take of $130m -$150m. Solo’s figures are also well behind Episode III – Revenge of
                                            the Sith’s $158.4m in 2005, which also benefited from a four-day opening weekend.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

