<div class="carrusel">
  <carousel [isAnimated]="true">
   
    <slide>
      <img src="./assets/total salud.jpg" alt="first slide" >
    </slide>
    <slide>
      <img src="./assets/LOGO-01.png" alt="second slide"    >
    </slide>
    <slide>
      <img src="./assets/total salud.jpg" alt="third slide" >
    </slide>
    <slide>
      <img src="./assets/total salud.jpg" alt="third slide" >
    </slide>
    <slide>
      <img src="./assets/total salud.jpg" alt="third slide" >
    </slide>
    <slide>
      <img src="./assets/total salud.jpg" alt="third slide" >
    </slide>
    <slide>
      <img src="./assets/total salud.jpg" alt="third slide" >
    </slide>
  
  </carousel>
  </div>